<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hzz.points.infrastructure.dao.mapper.points.PointsBoardSeasonExtMapper">


    <update id="createPointsBoardSeasonTable" parameterType="string">
        CREATE TABLE `${tableName}`
        (
            `id`      bigint   NOT NULL COMMENT '榜单id',
            `user_id` bigint   NOT NULL COMMENT '学生id',
            `points`  int      NOT NULL COMMENT '积分值',
            `rank`    tinyint  NOT NULL COMMENT '名次，只记录赛季前100',
            `season`  smallint NOT NULL COMMENT '赛季id',
            PRIMARY KEY (`id`) USING BTREE,
            KEY       `idx_user_id` (`user_id`) USING BTREE
        ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci ROW_FORMAT=DYNAMIC COMMENT='学霸天梯榜';
    </update>
</mapper>